.overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    border-radius: 30px;
    background-color: #fff;
    margin-top: 64px;
    z-index: 100;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}