.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
  padding: 24px;
}

.content {
  padding: 24px;
  border-radius: 8px;
  max-width: 410px;
  width: 100%;
  position: relative;
  align-self: center;
}
