.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
  padding: 24px;
}

.content {
  padding: 24px;
  border-radius: 8px;
  max-width: fit-content;
  width: 100%;
  position: relative;
  align-self: center;
}


@media (max-width: 768px) {
  .overlay {
    padding: 16px;
  }

  .content {
    padding: 0;
  }
}