.button {
    height: 52px;
    padding: 10px 26px;
    border: none;
    border-radius: 46px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
}

.button:active {
    color: #fff;
    background-color: #000;
}