.wrapper__img {
    width: 100%;
    margin-bottom: 60px;
}

.course__img {
    border-radius: 30px;
    height: 310px;
    font-family: var(--font-family);
}

.for-you {
    width: 100%;
    margin-bottom: 60px;
}

.for-you__text {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
}

.for-you__tiles {
    display: flex;
    justify-content: space-between;
}

.directions {
    width: 100%;
    margin-bottom: 100px;
}

.directions__text {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
}

.directions__content {
    display: flex;
    flex-flow: row wrap;
    gap: 124px;
    border-radius: 28px;
    height: 146px;
    padding: 30px;
    background-color: #bcec30;
}

.content {
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.content.starred {
    margin-bottom: 34px;
}

.content::before {
    content: url("/icon/sparcle.svg");
    display: inline-block;
    margin: 0;
}

.way {
    width: 100%;
    height: 558px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
    overflow: hidden;
}

.way__container {
    position: relative;
    width: 100%;
    border-radius: 30px;
    background: #fff;
    z-index: 0;
}

.way__content {
    max-width: 437px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 40px 0 40px 40px;
}

.way__text {
    font-weight: 500;
    font-size: 60px;
}

.list {
    align-self: center;
    color: #000;
    font-size: 24px;
    opacity: 0.5;
}

.way__btn {
    background-color: #BCEC30;
}

.way__btn:hover {
    background-color: #C6FF00;
}

.way__btn:active {
    background-color: #000;
}

.way__img {
    position: absolute;
    right: 0px;
    top: -93px;
    z-index: -1;
}