.workouts__container {
    width: 100%;
    max-height: 600px;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    /* align-items: stretch; */
    background: #fff;
}


.title {
    font-weight: 400;
    font-size: 32px;
    align-self: center;
}

.workouts__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}


.radio__label {
    font-weight: 400;
    font-size: 24px;
    color: #000;

    display: flex;
    align-items: center;
    gap: 15px;
}

.radio__btn[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 19px;
    height: 19px;
    border: 0.05em solid #000;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.radio__btn[type="radio"]::before {
    content: "";
    width: 0.40em;
    height: 0.40em;
    border-radius: 50%;
    background-color: #BCEC30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 120ms ease-in-out;
}

.radio__btn[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

.text__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lesson__name {
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.lesson__text {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.isComplitedLesson {
    pointer-events: none;
    border: none;
}

.isComplitedLesson::before {
    display: none;
}

.isComplitedLesson::after {
    content: url("/icon/complited-lesson.svg");
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lesson_border {
    margin-top: 10px;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.start__lesson_btn {
    background-color: #BCEC30;
    margin-top: 20px;
}

.start__lesson_btn:hover {
    background-color: #C6FF00;
}

.start__lesson_btn:active {
    background-color: #000;
}

/* .radio__btn[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #000;
    width: 20px;
    height: 20px;
    border: 0.05em solid #000;
    border-radius: 50%;
    transform: translateY(-0.075em);

}

.radio__btn[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #BCEC30;
}

.radio__btn[type="radio"]:checked::before {
    transform: scale(1);
}  */