.course {
    position: relative;
    border-radius: 30px;
    padding: 0px 0px 15px;
    width: 360px;
    background-color: #fff;
}

.img {
    border-radius: 30px;
}

.course__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 18px 30px 15px;
    cursor: pointer;
}

.course__title {
    font-size: 32px;
    font-weight: 600;
    color: #000;
}

.course__description {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}


.for-profile {
    width: 100%;
}
.progress__text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

.course__btn {
    background-color: #BCEC30;
    margin-top: 20px;
}

.course__btn:hover {
    background-color: #C6FF00;
}

.course__btn:active {
    background-color: #000;
}
