.form {
    width: 360px;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: stretch;
    background: #fff;
}

.logo {
    align-self: center;
}

.flex__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__input {
    height: 52px;
    border: 1px solid #d0cece;
    border-radius: 8px;
    padding: 16px 18px;
    align-self: stretch;
}

.form__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: #d0cece;
}

.register__btn {
    background-color: #BCEC30;
}

.register__btn:hover {
    background-color: #C6FF00;
}

.register__btn:active {
    background-color: #000000;
}

.register__btn:disabled {
    color: #999;
    background-color: #F7F7F7;
}

.signup__btn {
    border: 1px solid #000;
    background-color: #fff;
}

.signup__btn:hover {
    background-color: #FAFAFA;
}

.signup__btn:active {
    color: #000;
    background-color: #E9ECED;
}


.error {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #db0030;
}

@media (max-width: 768px) {
    .form {
        width: auto;
        gap: 34px;
    }

    .signup__btn, .register__btn {
        width: 100%;
        height: 52px;
    }
}