.header {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.header__content {
    position: relative;
}

.header__logo {
    margin-bottom: 7px;
    cursor: pointer;
}

.header__title {
    opacity: 0.5;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.header__profile {
    display: flex;
    gap: 16px;
    align-items: center;
}

.profile__avatar {
    border-radius: 100%;
}

.profile__name {
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.user__btn {
    border: none;
    background-color: transparent;
}

.user__btn:active {
    background-color: none;
}

.arrow {
    padding-left: 8px;
}

.header__btn {
    background-color: #bcec30;
}

.header__btn:hover {
    background-color: #C6FF00;
}

.btns__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu__username {
    font-weight: 400;
    font-size: 18px;
}

.menu__exit_btn {
    border: 1px solid #000;
    background: none
}

@media (max-width: 768px) {
    .logo__mobile_position {
        display: flex;
        align-items: center;
    }

    .header__title {
        display: none;
    }

    .forMobile {
        display: flex;
        align-items: center;
    }

    .header__profile {
        gap: 10px;
    }
    .profile__name {
        display: none;
    }
    .menu__exit_btn {
        width: 100%;
    }
}