.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-bottom: 7px;
}

.header__title {
    opacity: 0.5;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.header__btn {
    background-color: #bcec30;
}

.header__btn:hover {
    background-color: #C6FF00;
}